@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  font-size: 1.2em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-family: "Barlow", sans-serif;
}

header nav {
  display: flex;
  gap: 20px;
  padding: 20px;
}

header nav a {
  color: white;
}

nav a {
  text-decoration: none;
}

.hamburguer {
  height: 88px;
  display: none;
  fill: white;
}

#header-div {
  background-image: url(images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
}

header nav a {
  display: flex;
  align-items: center;
  transition: 0.3s;
}

header nav a:hover {
  opacity: 0.7;
}

header nav button {
  color: black;
  border: 1px solid white;
  border-radius: 30px;
  background-color: white;
  padding: 15px;
  font-weight: 900;
  font-family: "Fraunces", serif;
  transition: 0.3s;
}

header nav button:hover {
  background-color: rgba(255, 255, 255, 0.356);
  color: white;
  cursor: pointer;
}

#creatives {
  display: flex;
  font-size: 40px;
  gap: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

#arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stand_transform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  height: 720px;
  width: 50%;
  min-width: 375px;
  flex-grow: 1;
}

.stand_transform {
  display: flex;
  align-items: center;
  font-family: "Fraunces", serif;
}

article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 120px;
}

article p {
  color: rgba(0, 0, 0, 0.822);
  font-family: "Barlow", sans-serif;
}

#learn1:hover {
  text-decoration: 5px underline #FFD302;
  cursor: pointer;
}

.learn {
  font-size: 25px;
}

.learn:hover {
  text-decoration: 5px underline #FE6F61;
  cursor: pointer;
}

.title {
  font-size: 2.5em;
}

#transform, #stand {
  background-repeat: none;
  background-size: cover;
}

#transform {
  height: 720px;
  background-image: url(images/desktop/image-transform.jpg);
  background-position: center top;
}

#stand {
  height: 720px;
  background-image: url(images/desktop/image-stand-out.jpg);
  background-position: center top;
}

#design,
#photography {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  text-align: center;
  gap: 20px;
}

#design {
  color: hsl(212, 27%, 19%);
}

#photography {
  color: hsl(198, 62%, 26%);
}

#design h3 {
  font-size: 2em;
  font-family: "Fraunces", serif;
}

#photography h3 {
  font-size: 2em;
  font-family: "Fraunces", serif;
  color: hsl(198, 62%, 26%);
}

#design p,
#photography p {
  font-family: "Barlow", sans-serif;
  color: hsl(212, 27%, 19%);
}

aside {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 20px;
}

.logo {
  min-height: 40px;
  padding: 20px;
}


#photography {
  background-image: url(images/desktop/image-photography.jpg);
}

#design {
  background-image: url(images/desktop/image-graphic-design.jpg);
}

#clients {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.client {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  padding-bottom: 100px;
  max-width: 300px;
  font-family: "Barlow", sans-serif;
}

.testimonials {
  display: flex;
  justify-content: center;
  padding: 80px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-size: 1.5em;
  color: gray;
}

#clients img {
  margin: auto;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.names {
  font-family: "Fraunces", serif;
  font-size: 1.2em;
}

#images {
  display: flex;
  flex-wrap: wrap;
}

#images img {
  width: 25% ;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(168, 30%, 54%);
}

footer img {
  max-width: 300px;
  max-height: 80px;
  margin: 40px;
}

footer nav {
  display: flex;
  gap: 50px;
  font-family: "Barlow", sans-serif;
}

footer nav a {
  color: hsl(167, 43%, 19%);
  transition: 0.3s;

}

footer nav a:hover {
  color: white;
  opacity: 0.7;
}

#svg-div {
  display: flex;
  gap: 30px;
  padding: 65px;
}

#svg-div svg {
  fill: hsl(167, 46%, 22%);
}

#svg-div svg:hover {
  fill: white;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #FE7263;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFBC01;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FF4B02;
}

body {
  overflow-x: hidden;
}

@media  screen and (max-width: 700px) {

  #creatives {
    gap: 100px;
    font-size: 25px;
  }
  
  #photography {
    background-image: url(images/mobile/image-photography.jpg);
  }
  
  #design {
    background-image: url(images/mobile/image-graphic-design.jpg);
  }

  #images img {
    width: 50% ;
  }

  .testimonials {
    font-size: 1em;
    text-align: center;
  }

  .hamburguer {
    display: flex;
  }

  .navbar {
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 0;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    transition: all 0.5s ease-in-out;
    border-radius: 0px 0px 0px 10px;
    display: none;
  }

  .navbar a {
    color: black;
  }

  .navbar button {
    background-color: #ffa601bd;
    color: white;
  }

  .navbar button:hover {
    background-color: #F786AA;
    color: white;
  }
}








